{% extends "layout.html" %}

{% block title %}
Corner Feed
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h1 class="text-center mb-4"></h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-center">
        {% if form.instance.pk %}
          Edit Thoughts
        {% else %}
          Create Thoughts
        {% endif %}
      </h2>

      <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center mt-3">
          <button class="btn btn-warning" type="submit">Submit</button>
        </div>
      </form>

      <div class="text-center mt-3">
        <a href="{% url 'tweet_list' %}" class="btn btn-secondary">Back to Feed</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}